

/* Container that allows zooming and horizontal scrolling */
/*.zoom-scroll-container {
    overflow-x: auto;
    overflow-y: hidden;
    touch-action: pan-x pinch-zoom;
    -ms-touch-action: pan-x pinch-zoom;
}*/

.zoom-scroll-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    touch-action: pan-x pinch-zoom;
    -ms-touch-action: pan-x pinch-zoom;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
    /* Optional: hide scrollbar */
    scrollbar-width: none; /* Firefox */
}

    .zoom-scroll-container::-webkit-scrollbar {
        display: none; /* Chrome, Safari */
    }

    .zoom-scroll-container > div {
        min-width: 150px;
        text-align: center;
        flex: 0 0 auto;
    }
