@inherits LayoutComponentBase
<div class="page">

    <div>
        <NavMenu />
    </div>

    <main class="zoom-container">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

