@inherits LayoutComponentBase
<div class="page">

<!--put NavMenu inside main-->
    <main>
        <div>
            <NavMenu />
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

