@page "/CheatSheet"

<PageTitle>Cheat Sheet</PageTitle>

<!DOCTYPE html>
<html>
<head>
    <style>
        #powervalues {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #powervalues td, #powervalues th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #powervalues tr:hover {
                background-color: #ddd;
            }

            #powervalues th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #4adbec;
                color: white;
            }
    </style>
</head>
<body>

    <h1>Powers of Two</h1>

    <table id="powervalues">
        <tr>
            <th>Power</th>
            <th>Decimal</th>
            <th>Binary</th>
        </tr>
        <tr>
            <td>0</td>
            <td>0</td>
            <td>0000</td>
        </tr>
        <tr>
            <td>2<sup>0</sup></td>
            <td>1</td>
            <td>0001</td>
        </tr>
        <tr>
            <td>2<sup>1</sup></td>
            <td>2</td>
            <td>0010</td>
        </tr>
        <tr>
            <td>2<sup>2</sup></td>
            <td>4</td>
            <td>0100</td>
        </tr>
        <tr>
            <td>2<sup>3</sup></td>
            <td>8</td>
            <td>1000</td>
        </tr>
        <tr>
            <td>2<sup>4</sup></td>
            <td>16</td>
            <td>10000</td>
        </tr>
        <tr>
            <td>2<sup>5</sup></td>
            <td>32</td>
            <td>100000</td>
        </tr>
        <tr>
            <td>2<sup>6</sup></td>
            <td>64</td>
            <td>1000000</td>
        </tr>
        <tr>
            <td>2<sup>7</sup></td>
            <td>128</td>
            <td>10000000</td>
        </tr>
        <tr>
            <td>2<sup>8</sup></td>
            <td>256</td>
            <td>100000000</td>
        </tr>
        <tr>
            <td>2<sup>9</sup></td>
            <td>512</td>
            <td>1000000000</td>
        </tr>
        <tr>
            <td>2<sup>10</sup></td>
            <td>1024</td>
            <td>10000000000</td>
        </tr>
        <tr>
            <td>2<sup>11</sup></td>
            <td>2048</td>
            <td>100000000000</td>
        </tr>
        <tr>
            <td>2<sup>12</sup></td>
            <td>4096</td>
            <td>1000000000000</td>
        </tr>
        <tr>
            <td>2<sup>13</sup></td>
            <td>8192</td>
            <td>10000000000000</td>
        </tr>
        <tr>
            <td>2<sup>14</sup></td>
            <td>16384</td>
            <td>100000000000000</td>
        </tr>
        <tr>
            <td>2<sup>15</sup></td>
            <td>32768</td>
            <td>1000000000000000</td>
        </tr>
    </table>

</body>

<head>
    <style>
        #decimalvalues {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #decimalvalues td, #decimalvalues th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #decimalvalues tr:hover {
                background-color: #ddd;
            }

            #decimalvalues th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #4adbec;
                color: white;
            }
    </style>
</head>
<body>

    <h1>Decimal</h1>

    <table id="decimalvalues">
        <tr>
            <th>Decimal</th>
            <th>Binary</th>
            <th>Hex</th>
        </tr>
        <tr>
            <td>0</td>
            <td>0000</td>
            <td>0</td>
        </tr>
        <tr>
            <td>1</td>
            <td>0001</td>
            <td>1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>0010</td>
            <td>2</td>
        </tr>
        <tr>
            <td>3</td>
            <td>0011</td>
            <td>3</td>
        </tr>
        <tr>
            <td>4</td>
            <td>0100</td>
            <td>4</td>
        </tr>
        <tr>
            <td>5</td>
            <td>0101</td>
            <td>5</td>
        </tr>
        <tr>
            <td>6</td>
            <td>0110</td>
            <td>6</td>
        </tr>
        <tr>
            <td>7</td>
            <td>0111</td>
            <td>7</td>
        </tr>
        <tr>
            <td>8</td>
            <td>1000</td>
            <td>8</td>
        </tr>
        <tr>
            <td>9</td>
            <td>1001</td>
            <td>9</td>
        </tr>
        <tr>
            <td>10</td>
            <td>1010</td>
            <td>A</td>
        </tr>
        <tr>
            <td>11</td>
            <td>1011</td>
            <td>B</td>
        </tr>
        <tr>
            <td>12</td>
            <td>1100</td>
            <td>C</td>
        </tr>
        <tr>
            <td>13</td>
            <td>1101</td>
            <td>D</td>
        </tr>
        <tr>
            <td>14</td>
            <td>1110</td>
            <td>E</td>
        </tr>
        <tr>
            <td>15</td>
            <td>1111</td>
            <td>F</td>
        </tr>
        
    </table>

</body>
</html>



@code {
    
}
