<h3>Home</h3>
@page "/"

<img src="favicon.png" alt="Cat" width="200" height="200" style="margin:auto;display:block">
<a href="/">Converter</a>
<a href="/binaryintro">Introduction</a>
<a href="/binarytut">Binary Tutorial</a>
<a href="/cheatsheet">Cheat Sheet</a>

@code {

}
