@page "/"

<PageTitle>Home</PageTitle>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">


    <div style="text-align: center">
        <!---<img src="images/MyConversionTutorGraphicSquare.png" width="150" height="150" style="margin:auto;display:block">
        <img src="images/MyConversionTutorGraphicLong.png" style="margin:auto;display:block">-->
        <h1 class="bebas-neue-regular title-font" style="font-weight:bold; color:#E7731D; ">MyConversionTutor.</h1>
        <img src="images/testCat.png" alt="Cat" width="120" height="120" style="margin:auto; display:block; transform: translateX(15px)">
        <ul style="list-style-type:none; font-size:20px; text-decoration:underline">
            <li><a href="/Introduction">Introduction</a></li>
            <li><a href="/BinaryTutorial">Binary Tutorial</a></li>
            <li><a href="/LearnYourBases">Learn Your Bases!</a></li>
            <li><a href="/CheatSheet">Cheat Sheet</a></li>
        </ul>
    </div>
</head>







@code {

}
